.FlipCoins {
	width: 600px;
	height: 300px;
	border: 1px solid black;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	margin: 50px auto;
}

.coin-img {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}
